html, body, .container-fluid  {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#navbar {
  background-color: rgba(245, 222, 179, 0.775);
  position: fixed;
  width: 100%;
  z-index: 1;
}

ul {
    padding: 5px;
    margin: 5px;
}

.nav-link {
    color: darkgreen;
    font-weight: bold;
}

.nav-link:hover {
  color: crimson;
}

.page {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 55px 10px 0px 10px;
    margin: 0px;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: cover;
}

h1 {
    font-size: 57px;
    padding: 0px;
    color: firebrick;
    font-weight: bold;
}

h5 {
  padding: 10px;
}

#page-one {
  background-image: url(images/amazonia.jpg);
  display: flex;
}

#map {
    width: 100%;
    height: 90%;
    flex: 2;
    margin: 30px 0px;
}

#map-info {
    margin: 30px 0px;
    background-color: rgba(255, 255, 255, 0.683);
    flex: 1;
}

#page-two {
  background-image: url(images/amazon.jpg);
  height: 100%;
}

.charts {
    margin-left: 30px;
    margin-bottom: 10px;
}

.sub-page {
    background-color: rgba(255, 255, 255, 0.683);
    margin: 0px 30px;
    height: 100%;
}

#page-four {
  background-image: url(images/forest.jpg);
}

#news {
  padding: 20px 100px;
}

.media {
    background-color: rgba(255, 255, 255, 0.483);
}

.media-body {
    padding: 10px 80px;
}

.article-text {
    font-size: 12px;
    text-align: left;
}